apiVersion: v1
kind: ConfigMap
metadata:
  name: chat-frontend-nginx-config
  namespace: chat
data:
  default.conf: |
    server {
      listen 80;

      location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
      }

      location /api/ {
        proxy_pass http://chat-backend:5000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
      }
    }

