apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-backend
  namespace: chat
spec:
  replicas: 2
  selector:
    matchLabels:
      app: chat-backend
  template:
    metadata:
      labels:
        app: chat-backend
    spec:
      containers:
      - name: backend
        image: sohail28/chat-backend:v2
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: MONGODB_URI
          value: mongodb://mongo:27017/chat

        - name: JWT_SECRET
          value: change-me-later

